# Ignore directories containing the word 'ignore'
**/*ignore*/
**/*ignore*/**
*deprecated*
*deprecate*

# Explicitly ignore heavy/archival directories so they don't get pushed
# Added to ensure local folders with old data or deprecated code aren't committed
maicro_ignore_old/
deprecated/


# Protect local deploy keys/private files
*.key
*.pem
*.secret
/.deploy_key

# Python cache
__pycache__/
*.pyc

# Temporary files
*.swp
*~

# Jupyter notebooks outputs
.ipynb_checkpoints/

# Datasets or large outputs
large_files_backup/
outputs/

# user config
.vscode/

# End
